.game {
  border: 1px solid black;
  height: 50vh;
  width: 50vw;
  margin: 10% auto;

  &__header {
    text-align: center;
    color: #999;
    &--highlight {
      color: rgb(161, 0, 0);
    }
  }
  &__results {
    box-sizing: border-box;
    border: 1px solid #000;
    display: flex;

    &_detail {
      width: 50%;
      border: 1px solid red;
    }
    &_score {
      text-align: center;
    }
  }
}
