.game {
  border: 1px solid black;
  background-color: #fff;
  height: 50vh;
  min-height: 30rem;
  width: 80vw;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  user-select: none;
  border-radius: 5px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);

  @media only screen and (min-width: 1200px) {
    width: 50vw;
  }

  @media only screen and (min-width: 1600px) {
    width: 40vw;
  }

  &__turn {
    font-size: 2rem;
  }

  &__results {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;

    &_detail {
      width: 50%;
      font-size: 1.4rem;
      border: 1px solid #eee;
      // max-width: 40%;
    }
    &_score {
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  &__result {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #fff;
    &:focus {
      outline-color: #fff;
    }
  }

  &__playerName {
    border: 1px solid #000;
    text-align: center;
    margin: auto;
    input,
    label {
      display: block;
      margin: 1rem;
      font-size: 1.6rem;
      text-align: center;
    }
    button {
      width: 100%;
      font-size: 1.4rem;
      border-radius: 4px;
    }
  }
}
