.panel {
  border: 1px solid black;
  text-align: center;
  &__inputs {
    width: 55%;
    margin: 0 auto;
    display: flex;
  }
  &__input {
    max-width: 33%;
    display: block;
    font-size: 3rem;
    height: 3rem;
  }
  &__submit {
    width: 30%;
    background-color: yellowgreen;
  }
}
